::ng-deep .custom-spinner circle {
  stroke: #dc3545; /* green, or any hex color you want */
}



.spinner-container {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
}

.custom-spinner {
  width: 50px;
  height: 50px;
}
