<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h5 class="title">Offer Extarctor</h5>
        </div>
        <div class="card-body ">




          <form>
            <label for="searchText">Extract from your own files </label>
            <div class="form-group" style="position: relative;">
              <label for="photo" class="custom-file-label">Choose Photo or Pdf</label>
              <input type="file" id="photo" name="photo" (change)="onFileSelected($event)" />
            </div>
            <div style="height: 45px;"></div>
          </form>


          <hr>

          <form (ngSubmit)="onSubmitForScraping()">
            <div class="form-group">
              <label for="searchText">Or Choose a popular Jobs website to search</label>
              <select class="form-control" id="searchText" name="searchText" [(ngModel)]="searchParams.searchSite"
                required>
                <option value="" disabled selected>Select a platform</option>
                <option value="LinkedIn">LinkedIn</option>
                <option value="Monster">Monster</option>
                <option value="Indeed">Indeed</option>
                <option value="Tanitjobs">Tanitjobs</option>
                <option value="KeeJob">KeeJob</option>

              </select>
            </div>


            <div *ngIf="searchParams.searchSite != ''" class="form-group">
              <label for="searchText">Job Title</label>
              <input class="form-control" type="text" id="searchText" name="searchText"
                [(ngModel)]="searchParams.searchText" required />
            </div>

            <div *ngIf="searchParams.searchSite != ''" class="form-group">
              <label for="locationText">Location</label>
              <input class="form-control" type="text" id="locationText" name="locationText"
                [(ngModel)]="searchParams.locationText" required />
            </div>

            <div hidden class="form-group">
              <label for="pageNumber">Page Number</label>
              <input class="form-control" type="number" id="pageNumber" name="pageNumber"
                [(ngModel)]="searchParams.pageNumber" min="0" />
            </div>

            <button *ngIf="searchParams.searchSite != ''" type="submit" class="btn btn-danger">Submit</button>
          </form>


          <hr>



          <!--
          <form (submit)="onSubmitUrl($event)">
            <div class="form-group" style="position: relative;">
              <label for="url">Or enter the URL of the Job Offer</label>
              <input class="form-control form-control-success" type="url" name="url" id="url"
                placeholder="https://example.com" pattern="https://.*" size="30" required [(ngModel)]="jobUrl"
                name="jobUrl" />
            </div>

            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
-->





          <hr>

          <div class="row mt-4">
            <div class="col-md-12">
              <h5><strong>Job Offer Data</strong></h5>

              <div *ngIf="isLoading" class="spinner-container">
                <mat-progress-spinner mode="indeterminate" class="custom-spinner"></mat-progress-spinner>
              </div>




              <!-- In internship-card.component.html -->
              <div *ngIf="internship" class="card p-4 m-4 shadow">
                <h5>{{ internship.title }}</h5>
                <h6>{{ internship.company }} - {{ internship.location }}</h6>
                <p><strong>Start Date:</strong> {{ internship.startDate || 'N/A' }}</p>
                <p><strong>Duration:</strong> {{ internship.duration || 'N/A' }}</p>

                <div *ngIf="internship.responsibilities?.length">
                  <strong>Responsibilities:</strong>
                  <ul>
                    <li *ngFor="let r of internship.responsibilities">{{ r }}</li>
                  </ul>
                </div>

                <div *ngIf="internship.profile?.length">
                  <strong>Profile:</strong>
                  <ul>
                    <li *ngFor="let p of internship.profile">{{ p }}</li>
                  </ul>
                </div>

                <p><strong>Website:</strong> <a [href]="'https://' + internship.website">{{ internship.website }}</a>
                </p>
                <p><strong>Contact Email:</strong> {{ internship.contactEmail || 'N/A' }}</p>

                <p *ngIf="internship.notes"><em>{{ internship.notes }}</em></p>

                <button (click)="addJob()" class="btn btn-danger"> <i class="fas fa-plus"></i> Add extracted
                  offers</button>

              </div>



              <!-- web scrapping section -->
              <div *ngIf="results.length > 0" class="mt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">


                  <h3 class="mb-0">🔍 Found {{ results.length }} Job(s)</h3>

                  <div ngbDropdown class="dropdown" placement="bottom-left">
                    <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>Order By Date</button>
                    <div ngbDropdownMenu>
                      <a class="dropdown-item" (click)="sortByDate(true)">Newest First</a>
                      <a class="dropdown-item" (click)="sortByDate(false)">Oldest First</a>

                    </div>
                  </div>

                </div>





                <div *ngFor="let job of results" class="card mb-3 p-3">
                  <div class="row g-3 align-items-center">
                    <div class="col-md-2" *ngIf="job.img">
                      <img [src]="job.img" class="img-fluid rounded" />
                    </div>

                    <div class="col-md-10">
                      <h5>{{ job.title }}</h5>
                      <p>
                        <strong>Company:</strong> {{ job.company }}<br />
                        <strong>Location:</strong> {{ job.location }}<br />
                        <strong>Posted:</strong> {{ job.postedDate | date:'mediumDate' }}<br />
                        <strong>Salary:</strong>
                        {{ job.salaryCurrency }} {{ job.salaryMin }} - {{ job.salaryMax }}<br />
                        <strong>Remote:</strong> {{ job.remoteOk ? 'Yes' : 'No' }}<br />

                        <strong>View Company: </strong> <a [href]="job.companyUrl" target="_blank">click here</a><br />
                        <strong>View Post : </strong> <a [href]="job.url" target="_blank">{{job.url}}</a><br />

                        <!--<strong>Stack:</strong> {{ job.stackRequired.join(', ') }}<br /> -->
                        <strong *ngIf="job.descriptionHtml">Description:</strong> {{ job.descriptionHtml }}<br />

                      </p>



                      <button (click)="addScappedJob(job)" class="btn btn-danger">
                        <i class="fas fa-bookmark"></i> Bookmark this Offer
                      </button>
                    </div>



                  </div>
                </div>

                <button (click)="LoadMoreJobs()" class="btn btn-info mt-4">
                  <i class="arrows-1_minimal-down"></i> Load More Offers
                </button>

              </div>


              <div *ngIf="results.length === 0 && submitted" class="alert alert-info mt-4">
                No jobs found. Try different search parameters.
              </div>







            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
