<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Offer Extarctor
        </div>
        <div class="card-body ">

          <form>
            <div class="form-group" style="position: relative;">
        <label for="photo" class="custom-file-label">Choose Photo</label>
        <input type="file" id="photo" name="photo"  />
      </div>
<div style="height: 45px;"></div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>

          <hr>

          <div class="row mt-4">
            <div class="col-md-4" >
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">wwwwwwwwwww</h5>
                  <p class="card-text">wwwwwwwwwww</p>
                </div>
              </div>


              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">wwwwwwwwwww</h5>
                  <p class="card-text">wwwwwwwwwww</p>
                </div>
              </div>


               <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">wwwwwwwwwww</h5>
                  <p class="card-text">wwwwwwwwwww</p>
                </div>
              </div>


            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
