<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h5 class="title">•	Schedule a process that executes every day / hour / minute to check daily posts about wanted job offers for specific website – if it finds a match – an email will be sent + saved job inside the APP </h5>
        </div>
        <div class="card-body ">





          <hr>








          <hr>

          <div class="row mt-4">
            <div class="col-md-12">
              <h5><strong>Job Offer Data</strong></h5>












            </div>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>
