<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">My recent extracted offers</h2>
    <p class="category">Please find below
      <a>the full list.</a>
    </p>
  </div>
</div>
<div class="main-content">



  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">




              <h4 class="card-title">
                Search for Offer
                <form>
                  <div class="input-group">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                      </div>
                    </div>
                  </div>
                </form>
                <p class="category">Click to Get Full as excel format</p>
                <div class="text-center mt-3">
                  <button class="btn btn-success btn-sm" (click)="exportToExcel()">
                    <i class="fa fa-file-excel-o"></i> Export to Excel
                  </button>
                </div>
              </h4>



            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">



    <div class="col-md-6" *ngFor="let offer of offers">
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="card-title">{{ offer.title }}</h4>
        </div>
        <div class="card-body">
          <!-- Show basic info always -->
          <p><strong>Company:</strong> {{ offer.company }}</p>
          <p><strong>Location:</strong> {{ offer.location }}</p>
          <p><strong>Duration:</strong> {{ offer.duration }}</p>

          <!-- Toggle details -->
          <div *ngIf="offer.expanded">
            <p><strong>Start Date:</strong> {{ offer.startDate }}</p>
            <p><strong>Responsibilities:</strong> {{ offer.responsibilities.join(', ') }}</p>
            <p><strong>Profile:</strong> {{ offer.profile.join(', ') }}</p>
            <p><strong>Required Documents:</strong> {{ offer.requiredDocuments.join(', ') }}</p>
            <p><strong>Website:</strong>
              <a [href]="offer.website" target="_blank">{{ offer.website }}</a>
            </p>
            <p><strong>Contact Email:</strong>
              <a [href]="'mailto:' + offer.contactEmail">{{ offer.contactEmail }}</a>
            </p>
            <p><strong>Notes:</strong> {{ offer.notes }}</p>
          </div>

          <!-- Toggle Button -->
          <div class="text-center mt-2">
            <button class="btn btn-info btn-sm" (click)="offer.expanded = !offer.expanded">
              <i class="fa" [ngClass]="offer.expanded ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm ml-2" (click)="deleteOffer(offer._id)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>




    <!--
    If you dont know elements in the code

    <div *ngFor="let offer of offers">
  <div *ngFor="let item of offer | keyvalue">
    <strong>{{ item.key }}:</strong> {{ item.value }}
  </div>
  <hr />
  </div>


    -->










    <!--

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Notifications Places
                  <p class="category">Click to view notifications</p>
                </h4>
              </div>
            </div>

other content here

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

-->
