<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">My recent extracted offers</h2>
    <p class="category">Please find below
      <a>the full list.</a>
    </p>
  </div>
</div>
<div class="main-content">



  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">



              <hr>
              <h4 class="card-title">
                Search for Offer
                <form>
                  <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="searchTerm" name="search" class="form-control"
                      placeholder="Search by title, company, or location..." />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                      </div>
                    </div>
                  </div>
                </form>

              </h4>

              <hr>

              <div *ngIf="generating_cover_letter" class="spinner-container">
                <mat-progress-spinner mode="indeterminate" class="custom-spinner"></mat-progress-spinner>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">



    <div class="mt-4" *ngIf="offers.length > 0">

      <div class="d-flex justify-content-between align-items-center mb-3">

        <h3>📄 You have {{ filteredOffers().length }} Offer(s) - <button class="btn btn-success btn-sm"
            (click)="exportToExcel()">
            <i class="fa fa-file"> Export to Excel</i>
          </button>

        </h3>



        <!--ORDER BY -->
        <div ngbDropdown class="dropdown" placement="bottom-left">
          <button class="btn btn-default dropdown-toggle" ngbDropdownToggle>Order By Posted Date</button>
          <div ngbDropdownMenu>
            <a class="dropdown-item" (click)="sortByDate(true)">Newest First</a>
            <a class="dropdown-item" (click)="sortByDate(false)">Oldest First</a>

          </div>
        </div>

      </div>



      <div *ngFor="let offer of filteredOffers()" class="card mb-3 p-3">
        <div class="row g-3 align-items-center">

          <!-- Image Section -->
          <div class="col-md-2 d-flex align-items-center justify-content-center" *ngIf="offer.img">
            <img [src]="offer.img" class="img-fluid rounded"
              [ngStyle]="{ 'maxHeight': '80px', 'height': 'auto', 'width': 'auto', 'maxWidth': '100%' }" />
          </div>

          <div class="col-md-2 d-flex align-items-center justify-content-center" *ngIf="!offer.img">
            <img src="assets/img/unknown_comp.png" class="img-fluid rounded"
              [ngStyle]="{ 'maxHeight': '80px', 'height': 'auto', 'width': 'auto', 'maxWidth': '100%' }" />
          </div>

          <!-- Offer Details Section -->
          <div class="col-md-7">
            <h5>{{ offer.title }} - <strong>{{ offer.source }}</strong></h5>
            <p>
              <strong>Company:</strong> {{ offer.company }}<br />
              <strong>Location:</strong> {{ offer.location }}<br />
              <strong>Posted Date:</strong> {{ offer.postedDate | date:'d MMMM y \'at\' h:mm a' }}<br />
            </p>

            <!-- Expanded Details -->
            <div *ngIf="offer.expanded">
              <div *ngFor="let key of getDisplayKeys(offer)">
                <ng-container
                  *ngIf="offer[key] !== null && offer[key] !== undefined && offer[key] !== '' && !(isArray(offer[key]) && offer[key].length === 0)">
                  <p>
                    <strong>{{ formatKey(key) }}:</strong>
                    <span *ngIf="isArray(offer[key])">{{ offer[key].join(', ') }}</span>
                    <span *ngIf="!isArray(offer[key])">
                      <a *ngIf="isUrl(offer[key])" [href]="offer[key]" target="_blank">{{ offer[key] }}</a>
                      <span *ngIf="!isUrl(offer[key])">{{ offer[key] }}</span>
                    </span>
                  </p>
                </ng-container>
              </div>
            </div>

            <!-- Action Buttons -->
            <div class="mt-2">
              <button class="btn btn-secondary" (click)="offer.expanded = !offer.expanded">
                <i class="fa" [ngClass]="offer.expanded ? 'fa-eye-slash' : 'fa-eye'"></i>
                {{ offer.expanded ? 'Hide Details' : 'Show Details' }}
              </button>
              <button type="button" class="btn btn-primary" (click)="deleteOffer(offer._id)">
                <i class="fa fa-trash"></i> Delete
              </button>


              <button *ngIf="offer.matchScore >= 70 && !generating_cover_letter" type="button" class="btn btn-info"
                (click)="GenerateCoverLetter(Resume,offer)">
                <i class="fa fa-robot"></i> AI Cover Letter
              </button>


            </div>
          </div>

          <!-- Review Section (Right Side) -->
          <div class="col-md-1 text-center" *ngIf="offer.matchScore">
            <i class="fa fa-check-circle text-success fa-2x"></i>
            <div class="text-success fw-bold mt-1">{{ offer.matchScore }}% Match Rate</div>
            <small class="text-muted fst-italic">Reviewed based<br />on your Resume</small>
          </div>

        </div>
      </div>


    </div>
